* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: bisque;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: bisque;
}

.skip a {
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  color: #000;
  position: fixed;
  top: -40px;
}

.skip a:focus {
  position: fixed;
  top: 20px;
}

.active {
  border: #fff solid 1px;
}

.nav-link {
  color: #D3D5D5;
}

.text-block {
  text-align: center;
  margin: auto;
  background-color: rgba(255, 255, 255, .8);
  border: 5px solid black;
  padding: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.footer-text {
  font-size: 15px;
  padding-left: 10px;
  color: #E2E4E4;
  padding-bottom: 10px;
}

footer {
  background-color: rgb(70, 70, 70)
}

.increment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: #0053B3;
}

/* MENU ITEMS */
.menu {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.left {
  text-align: left;
  float: left;
  font-size: 70%;
  padding-left: 5px;
}

.right {
  float: right;
  font-size: 65%;
  padding-right: 5px;
}

.menu-items img {
  border-radius: 5px;
  width: 100%;
  height: 400px;
}

.menu-items {
  display: grid;
  width: 65%;
  height: 500px;
  font-size: 2rem;
  align-items: center;
}

.black-text {
  color: #000;
}

.black-text:hover {
  text-decoration: none;
  color: #000;
}

.text-input {
  pointer-events: none;
  width: 75px;
  background-color: #fff;
  color: #000;
  border: #000 1px solid;
  margin-left: 5px;
  margin-right: 5px;
}

.cart {
  margin-left: 15px;
}

/* CSS FOR HOME PAGE */
.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.menuButton>button {
  background-color: rgb(117, 160, 244);
  border: solid black 2px;
  border-radius: 7px;
  padding: 10px;
}

.banner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding: 20px;
  margin: auto;
}

.banner>img {
  max-width: 300px;
  max-height: 300px;
}

.download-info {
  margin: auto;
}

.banner>h5,
h3,
p {
  text-align: center;
}

.newItemBanner {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  border: solid black 3px;
  background-color: orange;
  padding: 20px;
  margin: auto;
  font-size: 1.5rem;
}

.newItemBanner>img {
  width: 300px;
}

.download {
  width: 200px;
  margin: auto;
}

.popular {
  font-size: 50px;
  text-align: center;
}

/* CSS FOR DEALS PAGE */
.deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.deal-items img {
  border-bottom: solid #000 3px;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.deal-items {
  width: 75%;
  margin-bottom: 25px;
  border-radius: 5px;
  border: #000 solid 3px;
}

.deals>div {
  text-align: center;
}

.deal-items button {
  margin-bottom: 5px;
}

.code {
  font-size: 20px;
}

/* END OF DEALS CSS */

/* CSS FOR ABOUT PAGE */
.about {
  width: 75%;
}

.about-text {
  margin-bottom: 0;
}

.about-heading {
  margin-top: 10px;
}

.extra-padding {
  margin-bottom: 30px;
}

.btn-info {
  background-color: #14606C;
}

.mt-5 {
  margin-top: 20px !important;
}

/* END OF ABOUT CSS */

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  .skip a {
    -webkit-transition: none;
    transition: none;
  }
}

/* most common tablet screen size */
@media screen and (min-width: 768px) {

  /* Menu CSS */
  .menu-items {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-items>img {
    width: 100%;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* END OF MENU CSS */

  /* CSS FOR DEALS PAGE */
  .deals {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 1px;
  }

  .deal-items {
    flex: 0 0 auto;
    width: 450px;
    height: 500px;
  }

  .deal-items img {
    width: 450px;
    height: 400px;
  }

  .tablet-hide {
    display: none;
  }

  /* END OF DEALS CSS */
}

/* most common desktop resolution is 1366x768 */
@media screen and (min-width: 1300px) {

  /* CSS FOR DEALS PAGE */
  .deals {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 0;
  }

  .deal-items {
    width: 33%;
    height: 500px;
  }

  .deal-items img {
    width: 100%;
  }

  .banner {
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    font-size: 1.5rem;
  }

  .banner>img {
    max-width: 400px;
    max-height: 300px;
    margin: 20px;
  }

  .banner-download {
    width: 60%;
  }

  .left {
    font-size: 85%;
  }

  .right {
    font-size: 85%;
  }

  /* END OF DEALS CSS */

  .menu {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .new-item-menu div:first-child {
    grid-column-start: 3;
  }

  .new-menu-items {
    width: 450px;
  }

  .tablet-hide {
    display: grid;
  }

  .menu-home {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .extra-padding {
    margin-bottom: 285px;
  }
}